/* 
* @Author: Marte
* @Date:   2019-10-01 22:04:54
* @Last Modified by:   Marte
* @Last Modified time: 2019-10-07 09:54:38
*/
*{
    margin:0;
    padding: 0;
}
.entirety{
    width: 1440px;
    height: 1666px;
    margin:0px auto;
    position: relative;
    background-color:rgba(169, 169, 169, 0.2);
}
/*整体大小*/
.background{
    width:1440px;
    height:100px;
    background-color: #ffffff;
}
/*设置头部背景的宽高和颜色*/
.logo{
    width:105px;
    height:30px;
    position:absolute;
    top:30px;
    left:150px;
    text-align: center;
    line-height: 30px;
    background-color: #f92525;
    color:white;
    font-family:  MyriadPro-Regular;
    font-size:12px;
}
/*设置logo个位置和属性*/
.logout{
    width:110px;
    height:40px;
    border-radius:2px;
    position:absolute;
    top:30px;
    right:150px;
    text-align: center;
    line-height: 40px;
    background-color: #f92525;
    color:white;
    font-family: Raleway-Bold;
    font-size: 13px;
}
/*设置logout位置和属性*/
.setting{
    width:17px;
    height:18px;
    background-color: #262b2e;
    opacity: 0.7;
    position:absolute;
    top:42px;
    right:337px;
}
.bell{
    width:18px;
    height:18px;
    background-color:#262b2e;
    opacity:0.7;
    position:absolute;
    top:42px;
    right:300px;
}
/*设置设置和bell的位置和属性*/
.content{
    width:1274px;
    height:1152px;
    margin-top: 70px;
    margin-left: 16px;
    margin-right: 150px;
    margin-bottom: 80px;
    /*background-color: pink;*/
    position:relative;
}
/*设置整个内容区域的大小*/
.top{
    width:273px;
    height:51px;
    line-height: 50px;
    margin-left: 134px;

}
.audience_overview{
    display:inline-block;
    font-family:Raleway-Regular;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #262b2e;

}
.roseville_ca{
    width:87px;
    height:14px;
    font-family: OpenSans;
     font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #262b2e;
    opacity:0.7;
}
.test{
    
    display:inline-block;
     line-height: 50px;
     width:277px;
     height:51px;
    
}

/*内容区域左上角的设置*/
.nav{
position:absolute;
top:29px;
right:0;
width:469px;
height:20px;

}
/*导航栏的大小，位置*/
.nav ul{
    width:469px;
    height:13px;
    list-style: none;
    display:flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.nav li{
    flex:1;
    font-size: 13px;
    font-family: OpenSans-Bold;
   font-weight: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: 0px;
    color: #262b2e;
    cursor: pointer;
    z-index: 5;
}
.bg{
    position:absolute;
    left:0;
    top:0;
    width:20%;
    height:20px;
   border-bottom: 2px solid darkgray;
    transition: all 0.3s ease;
}

/*设置导航栏*/

.shuffling_figue{
    width:539px;
    height:267px;
    /*background-color: darkgray;*/
    position:absolute;
    top:110px;
    left:144px;
    overflow: hidden;

}
/*设置轮播图播放的区域大小，属性*/
#figureDot{
list-style: none;
position:absolute;
top:80%;
left:40%;
z-index: 2;
}
/*设置轮播图下圆点的ul*/
#figureDot li{
    box-sizing: border-box;
    width:20px;
    height:20px;
    /*border-radius: 20px;*/
    border:1px solid;
    margin:5px;
    background-color: darkgray;



}



#figureUl{
    list-style: none;
    position:absolute;
    width:3234px;
}
/*设置轮播图ul的宽*/
.shuffling_figue li{
    float:left;
}
/*轮播图一行显示*/
#btLeft{
    position:absolute;
    width:25px;
    height:50px;
    top:40%;
    right:95%;
    background: none;
    border:none;
    color:white;
    font-size: 30px;
    z-index: 3;

}

/*向左按钮*/
#btRight{
    position:absolute;
    width:25px;
    height:50px;
    top:40%;
    left:95%;
    background: none;
    border:none;
    color:white;
    font-size: 30px;
    z-index: 3;
}

.backPosition{
    position:relative;
    top:-5px;
}




/*向右按钮*/
/*设置轮播图区域的大小和位置*/
.base{
    width:560px;
    height:288px;
    background-color: rgba(255,255,255,0.6);
    position:absolute;
    top:100px;
    right:0;
}
.base .toper{
   box-sizing: border-box;
    width:560px;
    height:110px;
    border-bottom: 1px solid darkgray;
    position:absolute;
    top:0;
    left:0;
    
}
.toper .request{
    /*width: 148px;*/
    height: 24px;
    font-family: OpenSans;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: 0px;
    margin-left: 50px;
    margin-top: 49px;
    color: #262b2e;
}
.base .view{
    width: 95px;
    height: 40px;
    border-radius: 2px;
    border: solid 2px rgba(38, 43, 46, 0.1);
    position:absolute;
    top:40px;
    right:50px;
    text-align: center;
}
.base .view span{
    font-family: OpenSans-Semibold;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 40px;
    letter-spacing: 0px;
    color: #262b2e;
    opacity: 0.7;
}

.base .bottom{
    position:absolute;
    top:110px;
    width:560px;
    /*height:138px;*/
    display:flex;
}
.base ul{
    list-style: none;
    flex:1;
    text-align: center;
    display:flex;
    flex-direction: column;

}
.base ul li:first-Child{
    font-family: OpenSans-Bold;
    font-size: 14px;
    font-weight: bold;
    color: #262b2e;;
}
.base li{
    display:inline-block;
    width:146.67px;
    height:30px;
    margin:10px;
    text-align: center;
    line-height: 30px;
    font-family: OpenSans;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #262b2e;

}
.base .square-copy{
    display:inline-block;
    background-color: #5dd054;
    width:65px;
    height:30px;
    border-radius: 2px;
    color:#ffffff;
    text-align: center;
    line-height: 30px;
}


/*内容区域*/
#echarts{
    width:1140px;
    height:349px;
  background-color: rgba(255,255,255,0.6);
    position:absolute;
    top:407px;
    right:0;
}
/*图表1*/
#echarts1{
    width:560px;
    height:377px;
    background-color: rgba(255,255,255,0.6);
    position:absolute;
    top:776px;
    left:134px;

}
/*图表2*/
#echarts2{
    width:560px;
    height:377px;
    background-color: rgba(255,255,255,0.6);
    position:absolute;
    top:776px;
    left:714px;
}
/*图表3*/

.logo1{
    width:105px;
    height:30px;
    background-color: red;
    position:absolute;
    bottom:180px;
    left:150px;
    text-align: center;
    line-height: 30px;

}
/*底部logo*/
.footBackgorund{
    width:1440px;
    height:253px;
    position:absolute;
    background-color: black;
}
.link{
    height:110px;
    position:absolute;
    bottom:117px;
    left:332px;
    display:flex;
    color:white;
    z-index: 99;
}
.link ul{
    flex:1;
    list-style: none;
    margin-right: 120px;

}
.link li{
    margin:5px;
    cursor:pointer;

}
.link li:hover{
    text-decoration: underline;
}


/*底部链接栏*/